.order-page {
width: 100%;
height: auto;
display: flex;
}
 
.order-page .order-container {
width: 100%;
min-height: 1076px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
 
.order-page .order-container .order-left {
width: 821px;
height: auto;
display: flex;
flex-direction: column;
}
 
.order-page .order-container .order-left .order-nav-frame {
width: 821px;
height: 49px;
margin: 51px 80px 37px 80px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
 
.order-page .order-container .order-left .order-nav-frame .table-list {
width: 821px;
height: 49px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
 
.order-page .order-container .order-left .order-main-content {
width: auto;
height: auto;
}
 
/* ORDER RIGHT */
 
.order-page .order-container .order-right {
width: auto;
height: auto;
margin-top: 128px;
display: flex;
flex-direction: column;
}
 
.order-page .order-container .order-right .member-info-boxes {
width: 372px;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
}
 
.order-page .order-container .order-right .member-box {
width: 372px;
height: 308px;
margin-bottom: 23px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 16px;
box-shadow: inset 0px 4px 16px 0px rgba(242, 189, 87, 0.04),
inset 0px 1px 11px 12px rgb(211, 211, 231),
14px 14px 5px 0px rgb(187, 187, 191);
background: rgb(248, 248, 254);
}
 
.order-page .order-container .order-right .member-card-box {
width: 372px;
height: 282px;
margin-bottom: 23px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 16px;
box-shadow: inset 0px 4px 16px 0px rgba(242, 189, 87, 0.04),
inset 0px 1px 11px 12px rgb(211, 211, 231),
14px 14px 5px 0px rgb(187, 187, 191);
background: rgb(248, 248, 254);
}
 
.order-page .order-container .order-right .order-user-img {
position: relative;
width: 117px;
height: 112px;
margin-top: 29px;
border-radius: 37px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
 
.order-page .order-container .order-right .order-user-img .order-user-avatar {
width: 100%;
height: 100%;
border-radius: 37px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
 
.order-page .order-container .order-right .order-user-icon-box {
position: absolute;
right: -1px;
bottom: -9px;
width: 30px;
height: 30px;
border-radius: 37px;
display: flex;
justify-content: center;
align-items: center;
background: rgba(0, 0, 0, 0.33);
}
 
.order-page .order-container .order-right .order-user-prof-img {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
filter: brightness(0) invert(1);
}
 
.order-page .order-container .order-right .order-user-name {
margin-top: 7px;
font-family: "Commissioner";
font-size: 28px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
color: rgb(8, 9, 13);
}
 
.order-page .order-container .order-right .order-user-prof {
font-family: "Commissioner";
font-size: 20px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
color: rgb(161, 161, 161);
}
 
.order-page .order-container .order-right .liner {
margin-top: 39px;
width: 333px;
border: 1px solid rgb(161, 161, 161);
}
 
.order-page .order-container .order-right .order-user-address {
width: 100%;
height: 52px;
margin: 6px 0 0 50px;
display: flex;
flex-direction: row;
}
 
.order-page .order-container .order-right .member-card-inputs {
width: 332px;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
}
 
.order-page .order-container .order-right .card-number {
width: 332px;
height: 40px;
margin-top: 30px;
}
 
.order-page .order-container .order-right .card-number .card-number-input {
width: 100%;
height: 100%;
padding: 7px;
box-sizing: border-box;
border: 1px solid rgb(180, 170, 170);
border-radius: 5px;
background: rgb(245, 245, 245);
font-family: "Commissioner";
font-size: 15px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
color: rgb(119, 119, 119);
}
 
.order-page .order-container .order-right .card-valid {
width: 100%;
height: 40px;
margin-top: 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
 
.order-page .order-container .order-right .card-valid .card-val-date {
width: 162px;
height: 100%;
padding: 7px;
box-sizing: border-box;
border: 1px solid rgb(180, 170, 170);
border-radius: 5px;
background: rgb(245, 245, 245);
font-family: "Commissioner";
font-size: 15px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
color: rgb(119, 119, 119);
}
 
.order-page .order-container .order-right .card-holder {
width: 332px;
height: 40px;
margin-top: 10px;
}
 
.order-page .order-container .order-right .card-holder .card-holder-input {
width: 100%;
height: 100%;
padding: 7px;
box-sizing: border-box;
border: 1px solid rgb(180, 170, 170);
border-radius: 5px;
background: rgb(245, 245, 245);
font-family: "Commissioner";
font-size: 15px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
color: rgb(119, 119, 119);
}
 
.order-page .order-container .order-right .member-card-type {
width: 242px;
height: auto;
margin-top: 58px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
 
/* ORDERS */
 
.order-page .order-main-box {
position: relative;
width: 821px;
min-height: 150px;
margin-bottom: 32px;
display: flex;
flex-direction: column;
box-sizing: border-box;
padding: 21px 31px 13px 40px;
border-radius: 16px;
box-shadow: inset 0px 4px 16px 0px rgba(242, 189, 87, 0.04),
inset 0px 4px 10px 9px rgb(211, 211, 231),
-12px 12px 4px 0px rgb(186, 186, 191);
background: rgb(248, 248, 254);
}
 
.order-page .order-main-box .order-box-scroll {
width: 664px;
height: auto;
display: flex;
flex-direction: column;
justify-content: space-between;
}
 
.order-page .order-main-box .order-box-scroll .order-name-price {
width: 100%;
height: 50px;
margin-bottom: 7px;
display: flex;
flex-direction: row;
align-items: center;
}
 
.order-page
.order-main-box
.order-box-scroll
.order-name-price
.order-dish-img {
width: 50px;
height: 50px;
border-radius: 50%;
}
 
.order-page .order-main-box .order-box-scroll .order-name-price .title-dish {
margin-left: 20px;
font-family: "Commissioner";
font-size: 22px;
font-weight: 500;
line-height: 36px;
text-align: left;
color: rgb(0, 0, 0);
}
 
.order-page .order-main-box .order-box-scroll .order-name-price .price-box {
width: 560px;
height: auto;
display: flex;
flex-direction: row;
justify-content: flex-end;
}
 
.order-page .order-main-box .order-box-scroll .order-name-price p {
font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
color: rgba(38, 38, 38, 0.88);
}
 
.order-page .order-main-box .total-price-box {
width: 100%;
height: auto;
margin-top: 20px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
 
.order-page .order-main-box .total-price-box .box-total {
width: 100%;
height: auto;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
 
.order-page .order-main-box .total-price-box .box-total p {
margin: 0 10px;
font-family: "Commissioner";
font-size: 14px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
color: rgb(0, 0, 0);
}
 
.order-page .order-main-box .total-price-box Button {
width: 90px;
height: 36px;
border-radius: 10px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
 
.order-page .order-main-box .total-price-box .cencel-button {
font-family: Commissioner;
font-size: 14px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
color: rgb(52, 52, 52);
}
 
.order-page .order-main-box .total-price-box .pay-button {
margin-left: 50px;
background: rgb(112, 180, 91);
font-family: Commissioner;
font-size: 14px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
color: rgb(255, 255, 255);
}
 
.order-page .order-main-box .total-price-box .verify-button {
width: 231px;
height: 36px;
border-radius: 10px;
background: rgb(58, 135, 203);
font-family: Commissioner;
font-size: 14px;
font-weight: 600;
line-height: 17px;
text-align: left;
color: rgb(255, 255, 255);
}
 
.order-page .order-main-box .total-price-box .data-compl {
font-family: "Commissioner";
font-size: 14px;
font-weight: 500;
line-height: 36px;
text-align: left;
color: rgb(0, 0, 0);
/* white-space: nowrap; */
}
 